<!-- <section class="projects ">
    <div class="projectContain">
    <div class="projectsContain">
      <div class="projectChossen">
        <div class="select">
            <select (change)="onProjectTypeSelected($event)">
                <option value="" [selected]>Select a project type</option>
                <option  *ngFor="let projectType of getProjectTypes()" [value]="projectType">{{ projectType }}</option>
              </select>
            <div class="gridContainer" *ngIf="selectedProjects.length > 0">
                <div class="gridItem active" (click)="clickProject()" *ngFor="let project of selectedProjects">
                  <div (click)="onProjectClick(project)">{{ project.projectName }}</div>
                </div>
                <div class="gridItem active" (click)="clickProject()" >
                  <div >sdfgsdfg</div>
                </div>
                <div class="gridItem active" (click)="clickProject()" >
                  <div >sdfgsdfg</div>
                </div>
                <div class="gridItem active" (click)="clickProject()" >
                  <div >sdfgsdfg</div>
                </div>
                <div class="gridItem active" (click)="clickProject()" >
                  <div >sdfgsdfg</div>
                </div>
                <div class="gridItem active" (click)="clickProject()" >
                  <div >sdfgsdfg</div>
                </div>
                <div class="gridBackground"></div>
              </div>
            
  
           
          </div>


        </div>
        <div class="projectInfo">
          <div style="position: relative;">
            <div class="projectName">  <h2>{{this.iProject.projectName}}</h2></div>
            <div class="projectDescription"> <p>
            "{{this.iProject.projectDescription}}" 
            </p>
        <p class="projectNameMobile" >ahhaha</p>

        </div>
          </div>
          
        </div>
        <div class="projectPreview">
        <div class="projectImage"><img src="{{this.iProject.projectImage}}" width="300" height="300"></div>
        </div>

       
    </div>
    </div>
</section>
 -->
<section class="projectSection">
  <div class="sectionProjectContainer">
    <div class="SectionTitle">
      <h1 class="Title">Explore My Projects</h1> 
      <div class="select">
        <select (change)="onProjectTypeSelected($event)">
          <option value="" hidden disabled selected >Select a project type</option>
          <option  *ngFor="let projectType of getProjectTypes()" [value]="projectType">{{ projectType }}</option>
        </select>
       
      </div>
    </div>
    <div class="projects" >
      <div class="projectsContainer">
    <ng-container  *ngIf="selectedProjects.length > 0;else hahaha">
      
        <div class="project" *ngFor="let project of selectedProjects">
          <a href="{{project.projectURL}}" target="_blank">
          <div class="projectContainer">
            <h4 class="projectName">{{project.projectName}}</h4>
            <p class="projectDescription">“{{project.projectDescription}}”</p>
            <ul class="projectTools">
              <li class="projectTool" *ngFor="let item of project.projectTools">{{item}}</li>
            </ul>
            <div class="projectAccess" >
              <a class="projectAccessLink" href="{{project.projectURL}}" target="_blank">Websit Like *</a>
            </div>
            <div class="projectImage">
            
                <img src="{{project.projectImage}}" width="300" height="300">
            </div>
          </div>
        </a>

        </div>
      </ng-container>
      <ng-template #hahaha></ng-template>
      </div>
    </div>
  </div>
</section>