<section class="projects ">
    <div class="projectContain">
    <div class="projectsContain">
        <div class="projectInfo">
          <div style="position: relative;">
            <div class="projectName">  <h2>{{this.iProject.projectName}}</h2></div>
            <div class="projectDescription"> <p>
            "{{this.iProject.projectDescription}}" 
            </p>
        <p class="projectNameMobile" >ahhaha</p>

        </div>
          </div>
            <div class="projectChossen">
                <div class="select">
                    <select>
                        <option value="0" [selected]>agadfg</option>
                        <option>dfsgdfg</option>
                        <option>sdgsdfg</option>
                        <option>ghjg</option>
                        <option>fhk</option>
                      </select>
                    <div class="gridContainer">
                        <div class="gridItem active" (click)="clickProject()">Kelsey Heinrichs</div>
                        <div class="gridItem" (click)="clickProject()">Colin Treseler</div>
                        <div class="gridItem" (click)="clickProject()">Matthew Chung</div>
                        <div class="gridItem" (click)="clickProject()">D Story</div>
                        <div class="gridItem" (click)="clickProject()">Melissa Fallon</div>
                        <div class="gridBackground"></div>
                      </div>
                    
                    <!-- <ul>
                        <li>
                         
                        </li>
                        <li>agadfg</li>
                        <li>dsfgsdfg</li>
                        <li>sdfgdsfg</li>
                        <li>dsfgdsfg</li>
                    </ul> -->
                   
                  </div>
                </div>
        </div>
        <div class="projectPreview">
        <div class="projectImage"><img src="../assets/switzerland-zurich-river-city-boats-town-hall-morning.jpg" width="300" height="300"></div>
        </div>

       
    </div>
    </div>
</section>

