<section class="contactSection">
    <div class="contactBoxes">
        <div class="boxImageOne" *ngIf="box1" > <img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxImageTwo" *ngIf="box2" ><img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxInfo"*ngIf="box3">
            <h6></h6>
        <div class="span">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        </div>
        <div class="boxImageThree"*ngIf="box4"><img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxContact" *ngIf="box5">
            <h6></h6>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="boxImageFour" *ngIf="box6" ><img src="../assets/planet-light-colors-sci-fi.jpg"></div>

    </div>
</section>
