.contactSection{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;display: grid;
    align-items: center;
    --topHeight: 20vh;
    .contactBoxes div{
        overflow: hidden;
    }
    .contactBoxes{
        margin-left: -10%;
        width: 120%;
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2rem;
    //align-items: center;
        .boxImageOne{
            position: relative;
            top:calc(-7vh + var(--topHeight));
height: 300px;
background: #141414 !important;
border-radius: 1rem; animation: openContactBoxAnimation 0.5s;
        }
        .boxImageTwo{  position: relative;
            top:calc(2vh + var(--topHeight));
            height: 300px;border-radius: 1rem;background: #141414 !important; animation: openContactBoxAnimation 0.5s;
        }
        .boxInfo{  position: relative;
            top:calc(-15vh + var(--topHeight));
            height: 300px;border-radius: 1rem;background: #141414 !important; animation: openContactBoxAnimation 0.5s;
        }
        .boxImageThree{  position: relative;
            top:calc(-5vh + var(--topHeight));
            height: 440px;border-radius: 1rem;background: #141414 !important; animation: openContactBoxAnimation 0.5s;
        }
        .boxContact{  position: relative;
            top:calc(4vh + var(--topHeight));
            height: 300px;border-radius: 1rem;background: #141414 !important; animation: openContactBoxAnimation 0.5s;
        }
        .boxImageFour{  position: relative;
            top:calc(-20vh + var(--topHeight));
            height: 300px;border-radius: 1rem;background: #141414 !important;
            animation: openContactBoxAnimation 0.5s;
        }
        @media (max-width: 600px){
            width: 90%;
            margin: auto;
            position: relative;
            display: block;
            height: 100vh;
            top: 10vh;
            grid-template-columns: 1fr;
            *{
                top: 0 !important;
                margin: 20px 0 !important;
                height:auto !important;
            }
            .boxImageOne ,.boxImageTwo ,.boxImageThree,.boxImageFour{
                display: none;
            }
            }
       
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes openContactBoxAnimation { 
    0%{ 
        opacity: 0;
        margin-top: 15vh;
       
    }
    100%{ 
        @media (max-width: 600px){
            margin-top: 20px !important;
        }
        margin-top: 0;
        opacity: 1;
        }
    }
  
a{
   color: #fff;
}
    // @media (min-width: 1000px){
    //     width: 80%;
    //     }