<section class="contactSection">
    <div class="contactBoxes">
        <div class="boxImageOne" *ngIf="box1" > <img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxImageTwo" *ngIf="box2" ><img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxInfo"*ngIf="box3" style="color: #fff;">
            <h6 style="padding: 27px;
            font-size: 1rem;">AHMAD EID MOSHTHA</h6>
        <ul>
            <li>Jordanian</li>
            <li>Amman-Jordan</li>
            <li>English,Arabic</li>
        </ul>
        </div>
        <div class="boxImageThree"*ngIf="box4"><img src="../assets/planet-light-colors-sci-fi.jpg"></div>
        <div class="boxContact" *ngIf="box5" style="color: #fff;">
            <h6 style="padding: 27px 10px 10px 27px;
            font-size: 1rem;">Contact:</h6>
            <ul style="line-height: 25px;">
                <li><a href="ahmadeidali863@gmail.com" target="_blank">ahmadeidali863@gmail.com</a></li>
                <li><a href="tel:962785929375" target="_blank">+962785929375</a></li>
                <li><a href="linkedin.com/ahmad-moshtha" target="_blank">linkedin.com/ahmad-moshtha</a></li>
            </ul>
        </div>
        <div class="boxImageFour" *ngIf="box6" ><img src="../assets/planet-light-colors-sci-fi.jpg"></div>

    </div>
</section>
<!--style="color: #2e2e2e;"-->