<section class="skills">
    <div class="skillContain">
    <h2>Technical Skills</h2>
        <div class="skillsContain">
          <div class="skill">
            <div class="skillImage">
               <img src="../assets/github.png">
            </div>
            <div class="skillInfo">
               <h4>Figma</h4>
               <p>Embed live Figma prototypes onto your page.</p>
            </div>
          </div>
          <div class="skill">
            <div class="skillImage">
               <img src="../assets/github.png">
            </div>
            <div class="skillInfo">
               <h4>Figma</h4>
               <p>Embed live Figma prototypes onto your page.</p>
            </div>
          </div>
          <div class="skill">
            <div class="skillImage">
               <img src="../assets/github.png">
            </div>
            <div class="skillInfo">
               <h4>Figma</h4>
               <p>Embed live Figma prototypes onto your page.</p>
            </div>
          </div>
          <div class="skill">
            <div class="skillImage">
               <img src="../assets/github.png">
            </div>
            <div class="skillInfo">
               <h4>Figma</h4>
               <p>Embed live Figma prototypes onto your page.</p>
            </div>
          </div>
        </div>
    
    </div>
    <div class="skillContain">
    <h2>Interpersonal Skills</h2>

        <div class="skillsContain">
            <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
        </div>
    
    </div>
    <div class="skillContain">
    <h2>Industry Knowledge</h2>

        <div class="skillsContain">
            <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
              <div class="skill">
                <div class="skillImage">
                   <img src="../assets/github.png">
                </div>
                <div class="skillInfo">
                   <h4>Figma</h4>
                   <p>Embed live Figma prototypes onto your page.</p>
                </div>
              </div>
        </div>
    
    </div>
</section>