

.skills{
    width: 100%;
    min-height: 100vh;
    padding: 10vh 0;
    @media (min-width: 800px){
        padding: 20vh 0;
        }
    .skillsContain{
        width: 100%;
        margin: 3rem 0;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: start;
        grid-template-columns: 1fr ;
        @media (min-width: 800px){
            grid-template-columns: 1fr 1fr ;
            }
        @media (min-width: 1000px){
            grid-template-columns: 1fr 1fr 1fr;
            }
        gap: 1rem;
   
    }
    .skillContain{
        color: #ffffff;
        width: 90%;
        margin: auto;
       
    }
    .skill{
        min-width: calc(100% - 2.4rem);
        padding: 1.2rem;
        background: rgb(21, 19, 21);
        border-radius: 18px;
        display: flex;
        height: 100px;
        align-items: center;
        gap: 10px;
        p{
           
            max-height: 75px;
    overflow: auto;
        }
        p:hover::-webkit-scrollbar {
            width: 2px;
            display: block;
          }

          p::-webkit-scrollbar {
            width: 2px;
            display: none;
          }
          p::-webkit-scrollbar-track {
            background: #888; 
          }
           
          p::-webkit-scrollbar-thumb {
            background: #f1f1f1
            ; 
          }
          
        
.skillImage{
    

    background: rgb(31, 28, 31);
    border-radius: 14px;
    padding: 20px;
img{width: 60px;
    height: 60px;}
}
.skillInfo{
    //padding: 0px 0 20px 0px;
h4{
    padding: 7px 0;
}
p{
    color: hsla(0,0%,100%,.6);
}
}
    }
}
.loadingAnimation{
    width: 100%;
    min-height: 100vh;
  
}
.animatedBoxs{
    width: 90%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: start;
    grid-template-columns: 1fr ;
    @media (min-width: 800px){
        grid-template-columns: 1fr 1fr ;
        }
    @media (min-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr;
        }
    gap: 1rem;
    .animatedBox {
        min-width: calc(100% - 2.4rem);
        padding: 1.2rem;
        background: rgb(21, 19, 21);
        border-radius: 18px;
        display: flex;
        height: 100px;
        align-items: center;
        gap: 10px;
        //margin: 10px;
        animation: pulse 1s infinite alternate;
      }
}

  
  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }