<section class="skills">
    <div class="skillContain" *ngIf="dataLoaded; else loadingAnimation">
    <h2>Technical Skills</h2>
        <div class="skillsContain">
          <div class="skill" *ngFor="let item of this.technicalSkills">
            <ng-container *ngIf="item.skillType == 'Technical'">
            <div class="skillImage">
               <img src="{{item.skillImage}}">
            </div>
            <div class="skillInfo">
               <h4>{{item.skillName}}</h4>
               <p>{{item.skillDescription}}.</p>
            </div>
         </ng-container>
          </div>
          
        </div>
    
    </div>
    <ng-template #loadingAnimation>
      <div class="loadingAnimation">
      <div class="animatedBoxs">
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
      <div class="animatedBox"></div>
   </div>
   </div>
    </ng-template>

    <div class="skillContain" *ngIf="dataLoaded; else loadingAnimation">
    <h2>Interpersonal Skills</h2>
        <div class="skillsContain" >
            <div class="skill" *ngFor="let item of  this.interpersonalSkills">
               <ng-container *ngIf="item.skillType == 'Interpersonal'">
                  <div class="skillImage">
                     <img src="{{item.skillImage}}">
                  </div>
                  <div class="skillInfo">
                     <h4>{{item.skillName}}</h4>
                     <p>{{item.skillDescription}}.</p>
                  </div>
               </ng-container>
              </div>
        </div>
    
    </div>
    <div class="skillContain" *ngIf="dataLoaded; else loadingAnimation" >
    <h2>Industry Knowledge</h2>

         <div class="skillsContain" >
            <div class="skill" *ngFor="let item of this.industryKnowledgeSkills">
               <ng-container *ngIf="item.skillType == 'Industry Knowledge'">
                  <div class="skillImage">
                     <img src="{{item.skillImage}}">
                  </div>
                  <div class="skillInfo">
                     <h4>{{item.skillName}}</h4>
                     <p>{{item.skillDescription}}.</p>
                  </div>
               </ng-container>
              </div>
            
        </div> 
    
    </div>
</section>