<div [ngClass]="{'themeBlack': theme == 'themeBlack', 'themeLight': theme == 'themeLight'}" >
  <section class="scrollable header" [class.scrolled]="scrolled" *ngIf="!this.containsNotYetNamed">
    <div class="logo" [routerLink]="['/']" style="cursor: pointer;">
    <h2>Ahmad Eid.</h2>
  </div>
  <div class="sections">
    <ul>
      <li routerLinkActive="active" [routerLink]="['/projects']"><a >Projects</a></li>
      <li routerLinkActive="active" [routerLink]="['/skills']"><a >Skills</a></li>
      <!-- <li><a routerLinkActive="active" [routerLink]="['/Templats']">Templats</a></li>
      <li><a routerLinkActive="active" [routerLink]="['/Services']">Services</a></li> -->
      <li routerLinkActive="active" [routerLink]="['/certifications']"><a >Certifications</a></li>
      <!-- <li><a routerLinkActive="active" [routerLink]="['/AboutMe']">AboutMe</a></li> -->
      <li routerLinkActive="active" [routerLink]="['/contact']"><a >Contact</a></li>
    </ul>
  </div>
  <div class="CV" >
<button class="CVButton"style="cursor: pointer;" ><a href="https://drive.google.com/file/d/1aOkDRkFeC8frnuUWmmI9MqKmGNWweYre/view?usp=sharing" target="_blank" style="text-decoration: none; color: #ffffff; ">Download CV </a></button>
<!-- <button (click)="this.auth.loginWithGoogle()">Login with Google</button>
<button (click)="this.auth.logout()">logout with Google</button>
<button (click)="this.auth.isLoggedIn()">isLoggedIn</button> -->
<div class="menuIcon">
  <svg fill="none" (click)="openMobileMenu()" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
  </svg>
  </div>
  </div>

  <div id="headerMobile" class="closeMenuMobile" >
  <div class="menuIcon">
    <svg fill="none" (click)="openMobileMenu()" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
    </svg>
  </div>
      <ul class="mobile  text-center" (click)="openMobileMenu()">
        <li><a routerLinkActive="active" [routerLink]="['/projects']">Projects</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/skills']">Skills</a></li>
        <!-- <li><a routerLinkActive="active" [routerLink]="['/templats']">Templats</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/aboutMe']">AboutMe</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/services']">Services</a></li> -->
        <li><a routerLinkActive="active" [routerLink]="['/certifications']">Certifications</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </div>
</section>
<section class="welcomeSection">
<router-outlet></router-outlet>
</section>