
<div class="adminPage">
    <div class="adminSidebar">
      <nav class="sidebar-navigation">
        <ul>
          <li routerLinkActive="active" [routerLink]="['/admin/projects']" >
            <p>Projects</p>
          </li>
          <li routerLinkActive="active" [routerLink]="['/admin/skills']">
            <p>Skills</p>
          </li>
          <li routerLinkActive="active" [routerLink]="['/admin/certification']">
            <p>Certification</p>
          </li>
        
          <li  routerLinkActive="active" [routerLink]="['/admin/template']">
            <p>Template</p>
          </li>
        </ul>
      </nav>
    
    </div>
    <div class="adminInfo">
      <router-outlet></router-outlet>
    </div>
  
  </div>