<section class="categories" >
    <canvas #canvas></canvas>
<div class="welcome" style="background-color: rgb(21 19 21/1);" >
<!-- <div  class="welcomeBottom"></div>
<div class="welcomeTop"></div> -->
<div class="welcomeImage"> <img src="../assets/planet-light-colors-sci-fi.jpg"></div>
<div class="welcomeText">
    <div class="welcomeName">Hi, I`m Ahmad</div>
    <div class="welcomeDescription">Introduce yourself and your skills in 2-3 sentences. Try to be yourself and build a connection with the viewer.</div>
    <div class="welcomeContact">
        <h6> Contact: </h6>
        <ul>
            <li>
                <img src="../assets/github.png">
                <a style="width: 100%;
                text-align: start;">
                    (123)-456-7890
                </a>
            </li>
            <li>
                <img src="../assets/github.png">
                <a style="width: 100%;
                text-align: start;">
                    (123)-456-7890
                </a>
            </li>
            <li>
                <img src="../assets/github.png">
                <a style="width: 100%;
                text-align: start;">
                    (123)-456-7890
                </a>
            </li>
            <li>
                <img src="../assets/github.png">
                <a style="width: 100%;
                text-align: start;">
                    (123)-456-7890
                </a>
            </li>
            <li>
                <img src="../assets/github.png">
                <a style="width: 100%;
                text-align: start;">
                    (123)-456-7890
                </a>
            </li>
        </ul>
    </div>
</div>
</div>

</section>

<!--


     <div class="category">
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg" ></div>
                            style="background-color: #8E0D3C;"
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg" >
    style="background-color:#EF3B33 ;"
                            </div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg"  >
                                 style="background-color: #FDA1A2;"</div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
</div>
-->