<section class="categories" data-hover-text="Exploring categories">
    <div class="headerBlock" #headerBlock data-hover-text="Header block"></div>
    <div class="WelcomeMyPortfolio"  #welcome data-hover-text="Welcome to my portfolio">
        <div class="text-container">
          <div *ngIf="showText1" class="text text1" data-hover-text="Hello There">Hello There</div>
          <div *ngIf="showText2" class="text text2" data-hover-text="Welcome To My Portfolio">Welcome To My Portfolio</div>
        </div>
      </div>
    <canvas #canvas data-hover-text="Canvas area"></canvas>
<div class="welcome" style="background-color: rgb(21 19 21/1);" #welcomeTwo data-hover-text="Welcome section">
<div class="welcomeText" style="position: relative;" data-hover-text="Welcome text">
    <div class="welcomeName" data-hover-text="Hi, I'm Ahmad">Hi, I`m Ahmad</div>
    <div class="welcomeDescription" data-hover-text="Description about Ahmad">I’m Ahmad Moshtha, A passionate Full-Stack Developer. I specialize in Angular, .NET, SQL, Firebase, and SAP Integration, and I’ve been fortunate to work on projects that challenge and inspire me. I also have a strong background in UI/UX Design, constantly looking for ways to craft intuitive and visually appealing digital experiences.

        Beyond development, I’m passionate about exploring AI, Machine Learning (Python), and Motion Graphics (After Effects), and I enjoy dabbling in 3D Modeling (Blender). I’m always open to collaboration and new opportunities to innovate and create meaningful solutions.</div>
    <div class="welcomeContact" id="box" data-hover-text="Contact section">
        <br>
        <ul>
            <li (click)="openWebsite('https://www.linkedin.com/in/ahmad-moshtha/')" data-hover-text="Oh, you want to know more about me? That's great!">
                <img src="../assets/icons8-linkedin-500.png" data-hover-text="Oh, you want to know more about me? That's great!">
                <a style="width: 100%;
                text-align: start;" data-hover-text="Oh, you want to know more about me? That's great!">
                   LinkedIn
                </a>
            </li>
            <li (click)="openWebsite('https://www.youtube.com/@ahmadeid6095/featured')" data-hover-text="Check out my YouTube channel!">
                <img src="../assets/icons8-youtube-500.png" data-hover-text="Check out my YouTube channel!">
                <a style="width: 100%;
                text-align: start;" data-hover-text="Check out my YouTube channel!">
                   Youtube
                </a>
            </li>
            <li (click)="openWebsite('https://www.instagram.com/ahmad_eid_ali/')" data-hover-text="Follow me on Instagram!">
                <img src="../assets/icons8-instagram-500.png" data-hover-text="Follow me on Instagram!">
                <a style="width: 100%;
                text-align: start;" data-hover-text="Follow me on Instagram!">
                    Instagram
                </a>
            </li>
          <li  routerLinkActive="router-link-active"  class="soon" data-hover-text="GiftTech is coming soon!">   <!--[routerLink]="['/giftTech']" -->
                <img src="../assets/heart2.png" data-hover-text="GiftTech is coming soon!">
                <a style="width: 100%;
                text-align: start;"  data-hover-text="GiftTech is coming soon!">
                    GiftTech
                </a>
              <span>Coming Soon...</span>
            
            </li>
        </ul>
    </div>
</div>
</div>
<div class="moon" #moon data-hover-text="Exploring the moon, are we?"></div>
</section>
