<section class="categories" >
    <div class="headerBlock" #headerBlock></div>
    <div class="WelcomeMyPortfolio"  #welcome *ngIf="false">
        <div class="text-container">
          <div *ngIf="showText1" class="text text1">Hello There</div>
          <div *ngIf="showText2" class="text text2">Welcome To My Portfolio</div>
        </div>
      </div>
    <canvas #canvas></canvas>
<div class="welcome" style="background-color: rgb(21 19 21/1);" #welcomeTwo *ngIf="false">
<!-- <div  class="welcomeBottom"></div>
<div class="welcomeTop"></div> -->
<div class="welcomeImage"> <img src="../assets/planet-light-colors-sci-fi.jpg"></div>
<div class="welcomeText">
    <div class="welcomeName">Hi, I`m Ahmad</div>
    <div class="welcomeDescription">Your experienced Angular/Front End Developer deeply passionate about AI and web development. With a strong commitment to continuous learning and mastery, I specialize in creating accessible, inclusive, and responsive products. Let's team up and create amazing solutions together!</div>
    <div class="welcomeContact">
        <br>

        <ul>
            <li (click)="openWebsite('https://github.com/ahmadeidali863')">
                <img src="../assets/icons8-github-500.png">
                <a style="width: 100%;
                text-align: start;" target="_blank">
                   GitHub
                </a>
            </li>
            <li (click)="openWebsite('https://www.kaggle.com/ahmadeidalimoshtha')">
                <img src="../assets/icons8-kaggle-500.png">
                <a style="width: 100%;
                text-align: start;">
                Kaggle
                </a>
            </li>
            <li (click)="openWebsite('https://www.linkedin.com/in/ahmad-moshtha/')">
                <img src="../assets/icons8-linkedin-500.png">
                <a style="width: 100%;
                text-align: start;">
                   LinkedIn
                </a>
            </li>
            <li (click)="openWebsite('https://www.youtube.com/@ahmadeid6095/featured')">
                <img src="../assets/icons8-youtube-500.png">
                <a style="width: 100%;
                text-align: start;">
                   Youtube
                </a>
            </li>
            <li (click)="openWebsite('https://www.instagram.com/ahmadeid863/')">
                <img src="../assets/icons8-instagram-500.png">
                <a style="width: 100%;
                text-align: start;">
                    Instegram
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="moon"></div>

<section class="mainButtom">
<div class="showSessionDetails"></div>
<div class="sections">
<div class="section">
    <i class="fa-brands fa-medapps"></i>
</div>
<div class="section">
    <i class="fa-solid fa-kitchen-set"></i>
</div>
<div class="section">
    <i class="fa-solid fa-certificate"></i>
</div>
<div class="section">
    <i class="fa-brands fa-medapps"></i>
</div>
<div class="section">
    <i class="fa-brands fa-medapps"></i>
</div>
<div class="section">
    <i class="fa-regular fa-id-badge"></i>
</div>
</div>
</section>

</section>


<!-- 

     <div class="category">
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg" ></div>
                            style="background-color: #8E0D3C;"
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg" >
    style="background-color:#EF3B33 ;"
                            </div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
        <div class="soapBubble">
            <div class="moveX">
                <div class="moveY">
                    <div class="deformX">  
                        <div class="deformY">
                            <div class ="bubbleImg"  >
                                 style="background-color: #FDA1A2;"</div>
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
</div> -->
